<a href="https://colab.research.google.com/github/marionboynton1/Cape-Town-House-Price-Prediction-Model-/blob/master/property_prices.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Property Price Prediction**

In [4]:
#upload data 
import pandas as pd
import io

from google.colab import files 
uploaded = files.upload()

Saving pp_goodwood.csv to pp_goodwood.csv
Saving p24_houses.csv to p24_houses.csv
Saving pp_atlantic.csv to pp_atlantic.csv
Saving pp_bellville.csv to pp_bellville.csv
Saving pp_brackenfell.csv to pp_brackenfell.csv
Saving pp_buh-rein.csv to pp_buh-rein.csv
Saving pp_capeflats.csv to pp_capeflats.csv
Saving pp_citybowl.csv to pp_citybowl.csv
Saving pp_durbanville.csv to pp_durbanville.csv
Saving pp_falsebay.csv to pp_falsebay.csv
Saving pp_houtbay.csv to pp_houtbay.csv
Saving pp_kraaifontein.csv to pp_kraaifontein.csv
Saving pp_kuilsriver.csv to pp_kuilsriver.csv
Saving pp_matroosfontein.csv to pp_matroosfontein.csv
Saving pp_melkbosstrand.csv to pp_melkbosstrand.csv
Saving pp_milnerton.csv to pp_milnerton.csv
Saving pp_parow.csv to pp_parow.csv
Saving pp_southernsuburbs.csv to pp_southernsuburbs.csv
Saving pp_tableblou.csv to pp_tableblou.csv

In [8]:
p24_ = pd.read_csv(io.StringIO(uploaded['p24_houses.csv'].decode('utf-8')))
p24_d = pd.DataFrame(p24_)

pp_atlantic_seaboard = pd.read_csv(io.StringIO(uploaded['pp_atlantic.csv'].decode('utf-8')))
pp_bellville = pd.read_csv(io.StringIO(uploaded['pp_bellville.csv'].decode('utf-8')))
pp_brackenfell = pd.read_csv(io.StringIO(uploaded['pp_brackenfell.csv'].decode('utf-8')))
pp_buhrein = pd.read_csv(io.StringIO(uploaded['pp_buh-rein.csv'].decode('utf-8')))
pp_capeflats = pd.read_csv(io.StringIO(uploaded['pp_capeflats.csv'].decode('utf-8')))
pp_citybowl = pd.read_csv(io.StringIO(uploaded['pp_citybowl.csv'].decode('utf-8')))
pp_durbanville = pd.read_csv(io.StringIO(uploaded['pp_durbanville.csv'].decode('utf-8')))
pp_goodwood = pd.read_csv(io.StringIO(uploaded['pp_goodwood.csv'].decode('utf-8')))
pp_houtbay = pd.read_csv(io.StringIO(uploaded['pp_houtbay.csv'].decode('utf-8')))
pp_kraaifontein = pd.read_csv(io.StringIO(uploaded['pp_kraaifontein.csv'].decode('utf-8')))
pp_kuilsriver = pd.read_csv(io.StringIO(uploaded['pp_kuilsriver.csv'].decode('utf-8')))
pp_matroosfontein = pd.read_csv(io.StringIO(uploaded['pp_matroosfontein.csv'].decode('utf-8')))
pp_melkbosstrand = pd.read_csv(io.StringIO(uploaded['pp_melkbosstrand.csv'].decode('utf-8')))
pp_milnerton = pd.read_csv(io.StringIO(uploaded['pp_milnerton.csv'].decode('utf-8')))
pp_parow = pd.read_csv(io.StringIO(uploaded['pp_parow.csv'].decode('utf-8')))
pp_falsebay = pd.read_csv(io.StringIO(uploaded['pp_falsebay.csv'].decode('utf-8')))
pp_southernsuburbs = pd.read_csv(io.StringIO(uploaded['pp_southernsuburbs.csv'].decode('utf-8')))
pp_tableblou = pd.read_csv(io.StringIO(uploaded['pp_tableblou.csv'].decode('utf-8')))

atlantic = pd.DataFrame(pp_atlantic_seaboard)
bellville = pd.DataFrame(pp_bellville)
brackenfell = pd.DataFrame(pp_brackenfell)
buhrein = pd.DataFrame(pp_buhrein)
capeflats = pd.DataFrame(pp_capeflats)
citybowl = pd.DataFrame(pp_citybowl)
durbanville = pd.DataFrame(pp_durbanville)
goodwood = pd.DataFrame(pp_goodwood)
houtbay = pd.DataFrame(pp_houtbay)
kraaifontein = pd.DataFrame(pp_kraaifontein)
kuilsriver = pd.DataFrame(pp_kuilsriver)
matroosfontein = pd.DataFrame(pp_matroosfontein)
melkbosstrand = pd.DataFrame(pp_melkbosstrand)
milnerton = pd.DataFrame(pp_milnerton)
parow = pd.DataFrame(pp_parow)
falsebay = pd.DataFrame(pp_falsebay)
southernsuburbs = pd.DataFrame(pp_southernsuburbs)
tableblou = pd.DataFrame(pp_tableblou)

pp_dataframe = pd.concat([atlantic, bellville,
brackenfell ,
buhrein ,
capeflats,
citybowl ,
durbanville,
goodwood,
houtbay,
kraaifontein,
kuilsriver,
matroosfontein,
melkbosstrand,
milnerton,
parow,
falsebay,
southernsuburbs,
tableblou], axis=0)

In [9]:
#Data Cleaning 

#copy dataframes
pp_df = pp_dataframe.copy()
p24_data = p24_d.copy()

#Prices to floats
import re
price_pat = r"[^\d-]"
pp_df.price = pp_df.price.str.replace(price_pat, '', regex=True)
p24_data.price = p24_data.price.str.replace(price_pat, '', regex=True)

#p24_data[['price', 'bedrooms', 'bathrooms', 'garages','size']] = p24_data[['price', 'bedrooms', 'bathrooms', 'garages','size']].replace(pat, "", regex=True)
pp_df.price = pd.to_numeric(pp_df.price, errors='coerce')
p24_data.price = pd.to_numeric(p24_data.price, errors='coerce')
print(p24_data.price.dtype)

float64

In [10]:
#remove null price entries
pp_df = pp_df[pp_df.price.notna()].reset_index(drop=True)
p24_data = p24_data[p24_data.price.notna()].reset_index(drop=True)

In [11]:
#Adjust location, suburb, area features to be the same for both dataframes

locations24 = list(p24_data.location.unique())
locs24 = [x for x in locations24 if str(x) != 'nan']
print(sorted(locs24))

['Bo Kaap', 'Cape Town City Centre', 'De Waterkant', 'Devils Peak Estate', 'Foreshore', 'Gardens', 'Higgovale', 'Mouille Point', 'Oranjezicht', 'Tamboerskloof', 'University Estate', 'Vredehoek', 'Walmer Estate', 'Waterfront', 'Woodstock', 'Zonnebloem']

In [12]:
#location for property24 dataframe is the suburb
#rename location column to suburb
p24_data = p24_data.rename(columns = {'location': 'suburb'})

#add column to dataframe of broader area as included in private property dataframe
dict_area = {
    'Bo Kaap': 'City Bowl', 
    'Cape Town City Centre': 'City Bowl', 
    'De Waterkant': 'City Bowl', 
    'Devils Peak Estate': 'City Bowl', 
    'Foreshore': 'Atlantic Seaboard', 
    'Gardens': 'City Bowl', 
    'Higgovale': 'City Bowl', 
    'Mouille Point': 'Atlantic Seaboard', 
    'Oranjezicht': 'City Bowl', 
    'Tamboerskloof': 'City Bowl', 
    'University Estate': 'City Bowl', 
    'Vredehoek': 'City Bowl', 
    'Walmer Estate': 'City Bowl', 
    'Waterfront': 'Atlantic Seaboard', 
    'Woodstock': 'City Bowl', 
    'Zonnebloem': 'City Bowl'
}
p24_data['area'] = p24_data['suburb'].map(dict_area)

p24_data.head()

   page       price  ...          size               area
0     1   1995000.0  ...   \n\n35 m²\n          City Bowl
1     1  14995000.0  ...  \n\n131 m²\n  Atlantic Seaboard
2     1   3995000.0  ...  \n\n114 m²\n          City Bowl
3     1   2750000.0  ...   \n\n83 m²\n          City Bowl
4     1   8000000.0  ...  \n\n464 m²\n          City Bowl

[5 rows x 10 columns]

In [13]:
#location for private property dataframe is greater area
pp_df.location = pp_df.location.str.title() #capitalize entries
pp_df = pp_df.rename(columns = {'location': 'area'}) #rename to area
pp_df.head()

   page       price               area  ... bedrooms bathrooms garages
0     1   3750000.0  Atlantic Seaboard  ...      2.0       2.0     NaN
1     1   7495000.0  Atlantic Seaboard  ...      3.0       2.5     2.0
2     1   3595000.0  Atlantic Seaboard  ...      1.0       1.0     NaN
3     1   3995000.0  Atlantic Seaboard  ...      2.0       2.0     1.0
4     1  13500000.0  Atlantic Seaboard  ...      5.0       5.0     2.0

[5 rows x 10 columns]

In [14]:
# create property 24 data type column

#print(pp_df.type.unique())  

#function to get type of property from description (desc) 
def type_func(desc):
    words = desc.split()
    if 'Apartment' in words:
        return 'Apartment'
    elif 'House' in words:
        return 'House'
    elif 'Townhouse' in words:
        return 'Townhouse'
    elif 'Penthouse' in words:
        return 'Townhouse'
    elif 'Flat' in words:
        return 'Flat'
    elif 'Duplex' in words:
        return 'Duplex'
    elif 'Bachelor' in words:
        return 'Bachelor'
    elif 'Cluster' in words:
        return 'Cluster'
    elif 'Studio' in words:
        return 'Studio'
    elif 'Simplex' in words:
        return 'Simplex'
    elif 'Duet' in words:
        return 'Duet'
    elif 'Loft' in words:
        return 'Loft'
    else:
        return None
 
p24_data.desc = p24_data.desc.str.title() #capitalize
p24_data.desc = p24_data.desc.astype(str)
p24_data['type'] = p24_data['desc'].apply(type_func)  #unique types: apartment, house, none, townhouse
p24_data.head()

   page       price  ...               area       type
0     1   1995000.0  ...          City Bowl  Apartment
1     1  14995000.0  ...  Atlantic Seaboard  Apartment
2     1   3995000.0  ...          City Bowl  Apartment
3     1   2750000.0  ...          City Bowl  Apartment
4     1   8000000.0  ...          City Bowl      House

[5 rows x 11 columns]

In [15]:
#concatenate dataframes

property_df = pd.concat([p24_data, pp_df], axis=0)
property_df = property_df.reset_index(drop=True)

In [16]:
prop_df = property_df.copy()

#size column to float 
size_pat = r"[^\d.,-]"

prop_df['size'] = prop_df['size'].astype(str)
prop_df['size'] = prop_df['size'].str.replace(size_pat, '', regex=True)
prop_df['size'] = pd.to_numeric(prop_df['size'], errors='coerce')
prop_df.head(2)

   page       price                 suburb  ...   size               area       type
0     1   1995000.0  Cape Town City Centre  ...   35.0          City Bowl  Apartment
1     1  14995000.0             Waterfront  ...  131.0  Atlantic Seaboard  Apartment

[2 rows x 11 columns]

In [17]:
print(prop_df['size'].isnull().sum())
print(prop_df['size'].count())
#too few size values so drop

16347
2303

In [18]:
all_features = ['price', 'suburb', 'area', 'bedrooms', 'bathrooms',
       'garages', 'type']
x_features = ['suburb', 'area', 'bedrooms', 'bathrooms','type']
#df_new.garages.isnull().sum()

df = prop_df[all_features]

In [20]:
!pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/90/86/c3dcb600b4f9e7584ed90ea9d30a717fb5c0111574675f442c3e7bc19535/catboost-0.24.1-cp36-none-manylinux1_x86_64.whl (66.1MB)
     |████████████████████████████████| 66.1MB 92kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Installing collected packages: catboost
Successfully installed catboost-0.24.1

In [21]:
#Cat Boost Model

from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn import feature_selection
from catboost import CatBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

import numpy as np

## Remove rows with more than 68% NA
#df_new.type = df_new.type.replace('None', np.nan)
df_new = df.dropna(how='all', thresh=2, subset=['suburb', 'area'])

X, X_test, y, y_test = train_test_split(df_new[x_features], df_new['price'], test_size=0.2, random_state=216)

cat_features = ['suburb', 'area', 'type']

In [52]:
#Train model

model = CatBoostRegressor(loss_function = 'MAE', task_type="GPU", iterations = 100000, learning_rate = 100, grow_policy="Depthwise")

model.fit(X, y, eval_set=(X_test, y_test), cat_features = cat_features, verbose = 1000,  use_best_model=True)

learning rate is greater than 1. You probably need to decrease learning rate.

0:	learn: 2260329.2248752	test: 2234559.4302671	best: 2234559.4302671 (0)	total: 15.9ms	remaining: 26m 25s
1000:	learn: 2232970.0666397	test: 2206650.6652279	best: 2206650.6652279 (1000)	total: 12s	remaining: 19m 42s
2000:	learn: 2205983.0460003	test: 2179090.2314540	best: 2179090.2314540 (2000)	total: 24.2s	remaining: 19m 46s
3000:	learn: 2179482.2630514	test: 2152032.6819531	best: 2152032.6819531 (3000)	total: 36.5s	remaining: 19m 38s
4000:	learn: 2153633.4806421	test: 2125693.8937146	best: 2125693.8937146 (4000)	total: 49.3s	remaining: 19m 42s
5000:	learn: 2128508.3912046	test: 2099951.4950094	best: 2099951.4950094 (5000)	total: 1m 1s	remaining: 19m 28s
6000:	learn: 2104083.2353973	test: 2074945.8127866	best: 2074945.8127866 (6000)	total: 1m 13s	remaining: 19m 13s
7000:	learn: 2080323.8937003	test: 2050557.6520097	best: 2050557.6520097 (7000)	total: 1m 26s	remaining: 19m 4s
8000:	learn: 2057161.8508026	test: 2026733.9757216	best: 2026733.9757216 (8000)	total: 1m 38s	remaining: 18m 51s
9000:	learn: 2034587.1609335	test: 2003390.5325061	best: 2003390.5325061 (9000)	total: 1m 50s	remaining: 18m 38s
10000:	learn: 2012490.8350196	test: 1980530.9134071	best: 1980530.9134071 (10000)	total: 2m 3s	remaining: 18m 30s
11000:	learn: 1990799.3848644	test: 1958208.8459671	best: 1958208.8459671 (11000)	total: 2m 15s	remaining: 18m 18s
12000:	learn: 1969626.2198840	test: 1936400.8502832	best: 1936400.8502832 (12000)	total: 2m 27s	remaining: 18m 1s
13000:	learn: 1949133.6495346	test: 1915367.2770434	best: 1915367.2770434 (13000)	total: 2m 39s	remaining: 17m 47s
14000:	learn: 1929102.4524484	test: 1894842.1127596	best: 1894842.1127596 (14000)	total: 2m 51s	remaining: 17m 33s
15000:	learn: 1909576.0032376	test: 1874931.1551120	best: 1874931.1551120 (15000)	total: 3m 3s	remaining: 17m 20s
16000:	learn: 1890684.7020100	test: 1855751.8036148	best: 1855751.8036148 (16000)	total: 3m 15s	remaining: 17m 4s
17000:	learn: 1872579.5310940	test: 1837457.9206906	best: 1837457.9206906 (17000)	total: 3m 27s	remaining: 16m 53s
18000:	learn: 1855207.9989208	test: 1819866.7774481	best: 1819866.7774481 (18000)	total: 3m 39s	remaining: 16m 40s
19000:	learn: 1838576.7360043	test: 1802933.4858376	best: 1802933.4858376 (19000)	total: 3m 52s	remaining: 16m 30s
20000:	learn: 1822579.7922568	test: 1786614.2627462	best: 1786614.2627462 (20000)	total: 4m 4s	remaining: 16m 18s
21000:	learn: 1807121.0252260	test: 1770798.7526302	best: 1770798.7526302 (21000)	total: 4m 17s	remaining: 16m 6s
22000:	learn: 1792134.8204506	test: 1755496.2093337	best: 1755496.2093337 (22000)	total: 4m 29s	remaining: 15m 54s
23000:	learn: 1777648.2525293	test: 1740640.3366604	best: 1740640.3366604 (23000)	total: 4m 41s	remaining: 15m 41s
24000:	learn: 1763715.4706597	test: 1726354.4731589	best: 1726354.4731589 (24000)	total: 4m 53s	remaining: 15m 28s
25000:	learn: 1750316.3070282	test: 1712631.1605071	best: 1712631.1605071 (25000)	total: 5m 5s	remaining: 15m 17s
26000:	learn: 1737584.7532713	test: 1699633.6530888	best: 1699633.6530888 (26000)	total: 5m 17s	remaining: 15m 3s
27000:	learn: 1725484.3415621	test: 1687350.9015376	best: 1687350.9015376 (27000)	total: 5m 29s	remaining: 14m 50s
28000:	learn: 1713791.8445973	test: 1675519.5165902	best: 1675519.5165902 (28000)	total: 5m 41s	remaining: 14m 39s
29000:	learn: 1702542.6251180	test: 1664103.8640410	best: 1664103.8640410 (29000)	total: 5m 54s	remaining: 14m 29s
30000:	learn: 1691708.7797113	test: 1653093.9994605	best: 1653093.9994605 (30000)	total: 6m 7s	remaining: 14m 16s
31000:	learn: 1681268.3447997	test: 1642495.0331805	best: 1642495.0331805 (31000)	total: 6m 18s	remaining: 14m 3s
32000:	learn: 1671142.5830298	test: 1632238.5972484	best: 1632238.5972484 (32000)	total: 6m 31s	remaining: 13m 50s
33000:	learn: 1661376.3885067	test: 1622350.1052064	best: 1622350.1052064 (33000)	total: 6m 43s	remaining: 13m 38s
34000:	learn: 1651900.8315122	test: 1612746.8249258	best: 1612746.8249258 (34000)	total: 6m 55s	remaining: 13m 26s
35000:	learn: 1642686.3510050	test: 1603431.7949825	best: 1603431.7949825 (35000)	total: 7m 7s	remaining: 13m 13s
36000:	learn: 1633789.9970322	test: 1594405.8440788	best: 1594405.8440788 (36000)	total: 7m 19s	remaining: 13m 1s
37000:	learn: 1625213.8416296	test: 1585748.8038845	best: 1585748.8038845 (37000)	total: 7m 31s	remaining: 12m 48s
38000:	learn: 1616967.6924322	test: 1577470.7569463	best: 1577470.7569463 (38000)	total: 7m 43s	remaining: 12m 36s
39000:	learn: 1609069.3689464	test: 1569644.2147289	best: 1569644.2147289 (39000)	total: 7m 56s	remaining: 12m 24s
40000:	learn: 1601512.1025226	test: 1562135.0655517	best: 1562135.0655517 (40000)	total: 8m 8s	remaining: 12m 12s
41000:	learn: 1594304.7338459	test: 1554943.1712975	best: 1554943.1712975 (41000)	total: 8m 20s	remaining: 12m
42000:	learn: 1587376.9518414	test: 1548036.9031562	best: 1548036.9031562 (42000)	total: 8m 32s	remaining: 11m 48s
43000:	learn: 1580701.6819102	test: 1541441.5365525	best: 1541441.5365525 (43000)	total: 8m 45s	remaining: 11m 36s
44000:	learn: 1574200.6011062	test: 1535071.5770165	best: 1535071.5770165 (44000)	total: 8m 57s	remaining: 11m 23s
45000:	learn: 1567890.7001214	test: 1528905.4782843	best: 1528905.4782843 (45000)	total: 9m 9s	remaining: 11m 11s
46000:	learn: 1561707.3314448	test: 1522862.5799838	best: 1522862.5799838 (46000)	total: 9m 21s	remaining: 10m 59s
47000:	learn: 1555670.3866181	test: 1516976.9970326	best: 1516976.9970326 (47000)	total: 9m 34s	remaining: 10m 47s
48000:	learn: 1549780.5563200	test: 1511268.8945239	best: 1511268.8945239 (48000)	total: 9m 46s	remaining: 10m 35s
49000:	learn: 1544009.2464589	test: 1505686.2023199	best: 1505686.2023199 (49000)	total: 9m 58s	remaining: 10m 23s
50000:	learn: 1538376.2104411	test: 1500261.6541678	best: 1500261.6541678 (50000)	total: 10m 10s	remaining: 10m 10s
51000:	learn: 1532835.3109402	test: 1494948.5664958	best: 1494948.5664958 (51000)	total: 10m 23s	remaining: 9m 58s
52000:	learn: 1527475.0929448	test: 1489770.8335581	best: 1489770.8335581 (52000)	total: 10m 35s	remaining: 9m 46s
53000:	learn: 1522233.6716579	test: 1484705.1135689	best: 1484705.1135689 (53000)	total: 10m 47s	remaining: 9m 34s
54000:	learn: 1517095.7140159	test: 1479765.6325870	best: 1479765.6325870 (54000)	total: 10m 59s	remaining: 9m 21s
55000:	learn: 1512090.2285175	test: 1474961.7825735	best: 1474961.7825735 (55000)	total: 11m 10s	remaining: 9m 8s
56000:	learn: 1507176.4651288	test: 1470233.3444834	best: 1470233.3444834 (56000)	total: 11m 22s	remaining: 8m 56s
57000:	learn: 1502346.5501147	test: 1465581.0089021	best: 1465581.0089021 (57000)	total: 11m 34s	remaining: 8m 43s
58000:	learn: 1497635.5699447	test: 1461030.3274885	best: 1461030.3274885 (58000)	total: 11m 46s	remaining: 8m 31s
59000:	learn: 1493016.0356131	test: 1456591.2446722	best: 1456591.2446722 (59000)	total: 11m 58s	remaining: 8m 19s
60000:	learn: 1488500.6556050	test: 1452221.2203938	best: 1452221.2203938 (60000)	total: 12m 10s	remaining: 8m 6s
61000:	learn: 1484063.1841360	test: 1447926.1936876	best: 1447926.1936876 (61000)	total: 12m 21s	remaining: 7m 54s
62000:	learn: 1479681.9338999	test: 1443688.0712166	best: 1443688.0712166 (62000)	total: 12m 33s	remaining: 7m 41s
63000:	learn: 1475403.4566302	test: 1439525.7750202	best: 1439525.7750202 (63000)	total: 12m 44s	remaining: 7m 29s
64000:	learn: 1471197.2243356	test: 1435406.8475856	best: 1435406.8475856 (64000)	total: 12m 56s	remaining: 7m 16s
65000:	learn: 1467024.4208822	test: 1431311.9525223	best: 1431311.9525223 (65000)	total: 13m 8s	remaining: 7m 4s
66000:	learn: 1462881.4547417	test: 1427253.3822498	best: 1427253.3822498 (66000)	total: 13m 19s	remaining: 6m 52s
67000:	learn: 1458839.7420747	test: 1423270.7763690	best: 1423270.7763690 (67000)	total: 13m 32s	remaining: 6m 39s
68000:	learn: 1454847.2057197	test: 1419339.9643917	best: 1419339.9643917 (68000)	total: 13m 43s	remaining: 6m 27s
69000:	learn: 1450922.4939970	test: 1415469.9239277	best: 1415469.9239277 (69000)	total: 13m 55s	remaining: 6m 15s
70000:	learn: 1447026.7907730	test: 1411625.2970057	best: 1411625.2970057 (70000)	total: 14m 6s	remaining: 6m 2s
71000:	learn: 1443180.5401322	test: 1407853.7340167	best: 1407853.7340167 (71000)	total: 14m 18s	remaining: 5m 50s
72000:	learn: 1439371.3098611	test: 1404122.2249798	best: 1404122.2249798 (72000)	total: 14m 30s	remaining: 5m 38s
73000:	learn: 1435621.2016727	test: 1400467.6471540	best: 1400467.6471540 (73000)	total: 14m 41s	remaining: 5m 26s
74000:	learn: 1431926.7621746	test: 1396871.6309684	best: 1396871.6309684 (74000)	total: 14m 53s	remaining: 5m 13s
75000:	learn: 1428266.4421961	test: 1393320.0884813	best: 1393320.0884813 (75000)	total: 15m 5s	remaining: 5m 1s
76000:	learn: 1424675.4663429	test: 1389888.4316159	best: 1389888.4316159 (76000)	total: 15m 16s	remaining: 4m 49s
77000:	learn: 1421164.1947929	test: 1386553.1804694	best: 1386553.1804694 (77000)	total: 15m 27s	remaining: 4m 37s
78000:	learn: 1417726.5495751	test: 1383286.8497437	best: 1383286.8497437 (78000)	total: 15m 39s	remaining: 4m 24s
79000:	learn: 1414327.0298125	test: 1380069.5505800	best: 1380069.5505800 (79000)	total: 15m 51s	remaining: 4m 12s
80000:	learn: 1410984.6982328	test: 1376930.8400324	best: 1376930.8400324 (80000)	total: 16m 3s	remaining: 4m
81000:	learn: 1407685.3268582	test: 1373845.0283248	best: 1373845.0283248 (81000)	total: 16m 14s	remaining: 3m 48s
82000:	learn: 1404435.6843383	test: 1370827.9989210	best: 1370827.9989210 (82000)	total: 16m 26s	remaining: 3m 36s
83000:	learn: 1401239.5003372	test: 1367925.6066900	best: 1367925.6066900 (83000)	total: 16m 38s	remaining: 3m 24s
84000:	learn: 1398087.7960340	test: 1365086.1958457	best: 1365086.1958457 (84000)	total: 16m 49s	remaining: 3m 12s
85000:	learn: 1394998.5290706	test: 1362301.2031292	best: 1362301.2031292 (85000)	total: 17m 1s	remaining: 3m
86000:	learn: 1391965.0689330	test: 1359589.5505800	best: 1359589.5505800 (86000)	total: 17m 13s	remaining: 2m 48s
87000:	learn: 1388975.8122218	test: 1356930.9349879	best: 1356930.9349879 (87000)	total: 17m 25s	remaining: 2m 36s
88000:	learn: 1386041.8097936	test: 1354311.1302940	best: 1354311.1302940 (88000)	total: 17m 37s	remaining: 2m 24s
89000:	learn: 1383142.6175637	test: 1351712.3193957	best: 1351712.3193957 (89000)	total: 17m 49s	remaining: 2m 12s
90000:	learn: 1380297.1601241	test: 1349142.5130834	best: 1349142.5130834 (90000)	total: 18m 1s	remaining: 2m
91000:	learn: 1377507.6476460	test: 1346602.8162935	best: 1346602.8162935 (91000)	total: 18m 12s	remaining: 1m 48s
92000:	learn: 1374797.0106570	test: 1344107.8694362	best: 1344107.8694362 (92000)	total: 18m 24s	remaining: 1m 36s
93000:	learn: 1372111.6525024	test: 1341635.7118964	best: 1341635.7118964 (93000)	total: 18m 37s	remaining: 1m 24s
94000:	learn: 1369455.9935249	test: 1339188.6916644	best: 1339188.6916644 (94000)	total: 18m 48s	remaining: 1m 12s
95000:	learn: 1366820.0879536	test: 1336750.5109253	best: 1336750.5109253 (95000)	total: 19m	remaining: 1m
96000:	learn: 1364217.7493592	test: 1334324.2082547	best: 1334324.2082547 (96000)	total: 19m 12s	remaining: 48s
97000:	learn: 1361665.0014839	test: 1331924.8384138	best: 1331924.8384138 (97000)	total: 19m 24s	remaining: 36s
98000:	learn: 1359130.6256576	test: 1329546.7386026	best: 1329546.7386026 (98000)	total: 19m 37s	remaining: 24s
99000:	learn: 1356623.0481586	test: 1327177.6164014	best: 1327177.6164014 (99000)	total: 19m 48s	remaining: 12s
99999:	learn: 1354158.7071361	test: 1324856.0064742	best: 1324856.0064742 (99999)	total: 20m	remaining: 0us
bestTest = 1324856.006
bestIteration = 99999

In [51]:
#Evaluate Model performance using mean absolute area and median absolute error

from sklearn.metrics import mean_absolute_error, median_absolute_error

preds = model.predict(X_test)
print("MAE: ", mean_absolute_error(y_test, preds))
print("MedianAE: ", median_absolute_error(y_test, preds))
show_p = pd.DataFrame({'y_true': y_test, 'y_pred': preds})


#add x features
show_p[x_features] = X_test[x_features]
show_p.head(10)

In [52]:
#cross val score for model

#from sklearn.model_selection import cross_val_score
#from sklearn.model_selection import RepeatedKFold
#from catboost import Pool, cv

#cv_dataset = Pool(X, y, cat_features = cat_features)
#params = {"iterations": 3000,
#          "depth": 2,
 #         "loss_function": "MAE",
 #         "verbose": 50}